---

---

 <header>
        <div class="logo">
            <a href="index.html">
                <img src="img/logomidtfyn.png" alt="logo">
            </a>
        </div>

        <nav>
            <ul class="menu">
                <li><a href="/">Forside</a></li>
                <li><a href="program">Program</a></li>
                <li><a href="frivillige">Frivillige</a></li>
                <li><a href="faellesspisning">Fællesspisning</a></li>
                <li><a href="om">Om</a></li>
                <li><button class="cta-billetter">BILLETTER</button></li>
            </ul>
            <button class="burger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </nav>

    </header>