---
const {title}=Astro.props
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">

		<title>Astro</title>
	</head>
	<body>
        <header>
            <nav>
        <a href="/">Forside</a>
		<a href="program">Kunstner</a>
    </nav>
    </header>
    <Header />
    <main>
        <slot>
        </slot>
</main>
<Footer/>

	</body>
</html>



<style is:global>
img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --color-white: #fbf9f9;
  --color-yellow: #fff7bb;
  --color-pink: #ffa8a8;
  --color-red: #ff0f0f;
  --color-green: #d9ec3a;
  --color-black: #101a16;
  --color-footer: #aedeca;
  --color-cta: #ff2e63;
}

h1 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  color: var(--color-white);
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2, h3, button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  color: var(--color-red);
}

h3 {
  color: var(--color-pink);
}

button{
    background-color: var(--color-cta);
    color: var(--color-yellow);
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    padding: 8px 30px;
    text-decoration: none;
    justify-self: center;
    font-size: 16px;

}

button:hover{
    background-color: var(--color-red);
    color:var(--color-yellow);
}





</style>